force-app/main/default/flows/churn_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_7b43ad44_acde_48bb_a242_b74595db4780</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_ecebaf97_c8b0_43bf_8dfc_ab5ee5db47c6</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_382605f0_c7f3_4ae1_a596_1740ae077b90</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_51b82f13_3f0b_43e6_9d5c_18994cf588f7</name>
        <choiceText>Problemas en el producto (bugs/caidas de la herramienta)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Problemas en el producto (bugs/caidas de la herramienta)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7042ff31_fe58_4225_94a7_32d0400d9e3c</name>
        <choiceText>Problemas con alg&amp;uacute;n equipo de Simetrik (Soporte/servicios/Educaci&amp;oacute;n/Success)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Problemas con algún equipo de Simetrik (Soporte/servicios/Educación/Success)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9aa774dd_56dd_4957_bdaf_600ff2706565</name>
        <choiceText>Otro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Otro</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a6bf673c_3186_4602_b70e_bb213231f27b</name>
        <choiceText>No era la soluci&amp;oacute;n que buscabamos / Nuestro caso de uso no pudo ser implementado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No era la solución que buscabamos / Nuestro caso de uso no pudo ser implementado</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a9f0a3ca_81f1_487f_bf1f_87f1272b203f</name>
        <choiceText>No usabamos el software</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No usabamos el software</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ae3046ff_281b_472d_ab86_3ed5d08ef744</name>
        <choiceText>Encontramos una mejor soluci&amp;oacute;n</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Encontramos una mejor solución</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b2fed93c_12cf_41d9_a8de_5dfbd14e3364</name>
        <choiceText>Sofware muy costoso</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sofware muy costoso</stringValue>
        </value>
    </choices>
    <interviewLabel>Churn survey</interviewLabel>
    <label>Churn survey</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_churn_survey_3_29b85265_78f5_4684_ab2a_fd5d6bc32198</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>Embed_a_Survey_Link</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>InvitationRecordCreator</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>es</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_382605f0_c7f3_4ae1_a596_1740ae077b90</name>
        <label>Communication and expectations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Atras</backButtonLabel>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_95440038_948d_4e33_a23c_90f8b3c3da7e_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_95440038_948d_4e33_a23c_90f8b3c3da7e_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_95440038_948d_4e33_a23c_90f8b3c3da7e_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_95440038_948d_4e33_a23c_90f8b3c3da7e</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: tahoma; font-size: 14px;&quot;&gt;¿Te sentiste bien informado sobre las actualizaciones de nuestro producto/servicio y nuevas características?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_48d57b45_12e9_4281_951d_e742f160edca_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_48d57b45_12e9_4281_951d_e742f160edca_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_48d57b45_12e9_4281_951d_e742f160edca_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_48d57b45_12e9_4281_951d_e742f160edca</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: tahoma; font-size: 14px;&quot;&gt;¿Nuestro producto/servicio cumplió con tus expectativas iniciales?&lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>FINISH</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_d24f0d47_595a_4da7_ba37_40cde53021a9_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_d24f0d47_595a_4da7_ba37_40cde53021a9_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_d24f0d47_595a_4da7_ba37_40cde53021a9_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d24f0d47_595a_4da7_ba37_40cde53021a9</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Por último, si ten&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;emos mejoras en el producto y/o nuestros servicios, ¿quisieras tener noticias de nosotros?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Enviar</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausa</pauseButtonLabel>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_7b43ad44_acde_48bb_a242_b74595db4780</name>
        <label>Contact information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Atras</backButtonLabel>
        <connector>
            <targetReference>p_ecebaf97_c8b0_43bf_8dfc_ab5ee5db47c6</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5056f975_eb16_4731_836e_0e1a4b55c2c4</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: docs-Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;¿Cuál &lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;es el nombre de la compañía a la que perteneces?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_def177dc_d520_4209_910a_1168561f64c4</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: docs-Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;¿Cuál es tu cor&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;reo electrónico corporativo?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Puedes contestar anónimamente dejando este campo en blanco</helpText>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausa</pauseButtonLabel>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ecebaf97_c8b0_43bf_8dfc_ab5ee5db47c6</name>
        <label>Churn reason</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Atras</backButtonLabel>
        <connector>
            <targetReference>p_382605f0_c7f3_4ae1_a596_1740ae077b90</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6cf248ac_39da_4bb1_9f0a_b3a76da2a73a</name>
            <choiceReferences>c_b2fed93c_12cf_41d9_a8de_5dfbd14e3364</choiceReferences>
            <choiceReferences>c_a6bf673c_3186_4602_b70e_bb213231f27b</choiceReferences>
            <choiceReferences>c_a9f0a3ca_81f1_487f_bf1f_87f1272b203f</choiceReferences>
            <choiceReferences>c_ae3046ff_281b_472d_ab86_3ed5d08ef744</choiceReferences>
            <choiceReferences>c_51b82f13_3f0b_43e6_9d5c_18994cf588f7</choiceReferences>
            <choiceReferences>c_7042ff31_fe58_4225_94a7_32d0400d9e3c</choiceReferences>
            <choiceReferences>c_9aa774dd_56dd_4957_bdaf_600ff2706565</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: tahoma;&quot;&gt;¿Cuáles fueron las razones para cancelar nuestros servicios?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f5d69be4_7d39_4473_b9bd_b20b9df0f476</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;¿Cómo podemos mejorar nuestros servicios en el futuro?&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5c538e2c_840b_48bd_aea1_1ee9940bfd3c</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Si quieres compartir más información, este es el espacio para hacerlo. Puedes enviar saludos, agradecimientos, oportunidades de mejora o lo que se te ocurra a cualquier persona, equipo o a Simetrik en general.&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausa</pauseButtonLabel>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_7b43ad44_acde_48bb_a242_b74595db4780</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>q_48d57b45_12e9_4281_951d_e742f160edca_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_48d57b45_12e9_4281_951d_e742f160edca_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Si</text>
    </textTemplates>
    <textTemplates>
        <name>q_95440038_948d_4e33_a23c_90f8b3c3da7e_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_95440038_948d_4e33_a23c_90f8b3c3da7e_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Si</text>
    </textTemplates>
    <textTemplates>
        <name>q_d24f0d47_595a_4da7_ba37_40cde53021a9_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_d24f0d47_595a_4da7_ba37_40cde53021a9_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Si</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: tahoma; font-size: 16px;&quot;&gt;¡Gracias por responder la encuesta!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;Tus comentarios nos permitirán identificar áreas de mejora y trabajar en soluciones que nos permitan ofrecer una mejor experiencia. &lt;/span&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;span style=&quot;font-family: tahoma; font-size: 12px;&quot;&gt;Esperamos sinceramente que este no sea un adiós, sino más bien un &quot;hasta pronto&quot;. Valoramos tu confianza en nosotros y esperamos tener la oportunidad de servirte nuevamente en el futuro.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: tahoma; font-size: 12px;&quot;&gt;Atentamente,&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: tahoma; font-size: 12px;&quot;&gt;Equipo Simetrik&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px; font-family: tahoma;&quot;&gt;Sentimos tu partida&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;Gracias por tomarte el tiempo para compartir tus comentarios con nosotros. En Simetrik, valoramos enormemente tus opiniones y experiencias, ya que nos ayudan a mejorar continuamente nuestros productos y servicios.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;Tu participación en esta encuesta es fundamental para entender las razones detrás de tu decisión de cancelar tu suscripción o dejar de utilizar nuestros servicios. Nos comprometemos a utilizar tus respuestas de manera constructiva para abordar cualquier problema que hayas experimentado y para mejorar la experiencia general de nuestros clientes.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: tahoma;&quot;&gt;¡Gracias de nuevo por tu participación y por ayudarnos a mejorar!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_48d57b45_12e9_4281_951d_e742f160edca_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_95440038_948d_4e33_a23c_90f8b3c3da7e_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_d24f0d47_595a_4da7_ba37_40cde53021a9_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
