force-app/main/default/flows/Convert_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Lead</name>
        <label>Convert Lead</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <actionName>ConvertLeadAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Massive_Leads_To_Convert</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Lead_Info.Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <elementReference>Converted_Label.ApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <elementReference>blnCreateOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityName</name>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertLeadAction</nameSegment>
        <outputParameters>
            <assignToReference>NewContactId</assignToReference>
            <name>contactId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Go_to_Contact</name>
        <label>Go to Contact</label>
        <locationX>446</locationX>
        <locationY>2126</locationY>
        <actionName>c:RedirectFromFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NewContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:RedirectFromFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Massive_Conversion</name>
        <label>Massive Conversion</label>
        <locationX>534</locationX>
        <locationY>1430</locationY>
        <actionName>ConvertLeadAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Convert_Massive_Leads</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Lead_Info.Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <elementReference>Massive_Lead_Status.ApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>Convert_Massive_Leads.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertLeadAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Opp_Name</name>
        <label>Set Opp Name</label>
        <locationX>996</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>strOpportunityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Info.Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strOpportunityName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Converted_Label</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Partner_Potencial</name>
        <label>Is Partner Potencial?</label>
        <locationX>446</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Go_to_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPartnerPotencial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blnCreateOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_RT_Partner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Conversion</name>
        <label>Start Conversion?</label>
        <locationX>996</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesConversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidationButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Continue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Allow_Conversion_on_Leads</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Lead</name>
        <label>Valid Lead?</label>
        <locationX>1403</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Lead_Not_Valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Info.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>blnCreateOpportunity</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!Lead_Info.Potential_Partner__c})</expression>
    </formulas>
    <interviewLabel>Convert Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Lead V1</label>
    <loops>
        <name>Convert_Massive_Leads</name>
        <label>Convert Massive Leads</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <collectionReference>Massive_Leads_To_Convert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Massive_Conversion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Partner_Potencial</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account_RT_Partner</name>
        <label>Account RT Partner</label>
        <locationX>50</locationX>
        <locationY>1778</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_To_Partner</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Converted_Label</name>
        <label>Converted Label</label>
        <locationX>996</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Massive_Lead_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial Qualification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LeadStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lead_Info</name>
        <label>Lead Info</label>
        <locationX>1403</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Massive_Lead_Status</name>
        <label>Massive Lead Status</label>
        <locationX>996</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convertion_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Massive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LeadStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Massive_Leads_To_Convert</name>
        <label>Massive Leads To Convert</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Leads_As_Massive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Info.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>1018</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Convertion_Error</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Account_To_Partner</name>
        <label>Account To Partner</label>
        <locationX>50</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>Go_to_Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Info.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Developing</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Allow_Conversion_on_Leads</name>
        <label>Allow Conversion on Leads</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Convert_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Info.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AllowConversion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Leads_As_Massive</name>
        <label>Set Leads As Massive</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Convert_Massive_Leads</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Info.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AllowConversion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Massive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Convertion_Error</name>
        <label>Convertion Error</label>
        <locationX>1018</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConvertioErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;ERROR!!!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;An error has occurred while converting the records:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(250, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact your System Admin and notify this message.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConvertionErrorButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Close&quot;,&quot;value&quot;:&quot;Close&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Convertion_Summary</name>
        <label>Convertion Summary</label>
        <locationX>996</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Start_Conversion</targetReference>
        </connector>
        <fields>
            <name>SummaryHeader</name>
            <fieldText>&lt;p&gt;The lead &lt;em style=&quot;color: rgb(0, 0, 255);&quot;&gt;{!Lead_Info.Name}&lt;/em&gt; will be converted and the following actions will be performed:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Convertion_Summary_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Convertion_Summary_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Convertion_Summary_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WithOppSummary</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;﻿&lt;/strong&gt;The related account is &lt;strong&gt;{!Lead_Info.Account__r.Name}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;A &lt;strong&gt;contact&lt;/strong&gt; record &lt;strong&gt;will be created&lt;/strong&gt; with the current lead information.&lt;/li&gt;&lt;li&gt;An &lt;strong&gt;opportunity&lt;/strong&gt; record &lt;strong&gt;will be created&lt;/strong&gt;.&lt;/li&gt;&lt;li&gt;Any other lead record related to {!Lead_Info.Account__r.Name} will be flagged as &quot;Massive&quot; and converted as new Contacts.&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Lead_Info.Potential_Partner__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Opportunity_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>strOpportunityName</elementReference>
                    </defaultValue>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Lead_Info.Potential_Partner__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>WithoutOppSummary</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;﻿&lt;/strong&gt;The related account is &lt;strong&gt;{!Lead_Info.Account__r.Name}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;﻿&lt;/strong&gt;The account&apos;s &lt;strong&gt;Record Type&lt;/strong&gt; will be &lt;strong&gt;updated&lt;/strong&gt; to &lt;strong style=&quot;color: rgb(0, 0, 255);&quot;&gt;Partner&lt;/strong&gt; and &lt;strong&gt;Account Status&lt;/strong&gt; to &lt;strong style=&quot;color: rgb(0, 0, 255);&quot;&gt;&lt;em&gt;Developing&lt;/em&gt;&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;A &lt;strong&gt;contact&lt;/strong&gt; record will be &lt;strong&gt;created&lt;/strong&gt; with the current lead information.&lt;/li&gt;&lt;li&gt;Any other lead record related to {!Lead_Info.Account__r.Name} will be flagged as &quot;Massive&quot; and converted as new Contacts.&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Lead_Info.Potential_Partner__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Convertion_Summary_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ValidationText</name>
            <fieldText>&lt;p&gt;Once executed, these actions cannot be reverted. Do you want to continue?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ValidationButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:cancel_transfer&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Continue&quot;,&quot;value&quot;:&quot;Continue&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:save&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Not_Valid</name>
        <label>Lead Not Valid</label>
        <locationX>1810</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InvalidLeadText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;ERROR&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This lead was already converted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1277</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strOpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
