force-app/main/default/flows/encuesta_de_salida_espa_ol.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_7b43ad44_acde_48bb_a242_b74595db4780</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_ecebaf97_c8b0_43bf_8dfc_ab5ee5db47c6</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_eeaefd33_f22d_42c8_8051_9732fa938611</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_f4dad81d_5317_4e56_b744_d99b61964216</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_382605f0_c7f3_4ae1_a596_1740ae077b90</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_13f3c8b7_aba3_4c24_988c_c1642365a960</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1b988ca5_6205_4a53_b113_5b0037250303</name>
        <choiceText>Muy bueno</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_296ffc65_81e6_4bdc_bb85_0182290cab33</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2b3e0fa9_b929_4882_9554_386d41fdf488</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2cf6ba4c_341e_4b80_b220_1ac522855e16</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_341a103c_79e5_48c2_9399_8f3206a3618e</name>
        <choiceText>Malo</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_51b82f13_3f0b_43e6_9d5c_18994cf588f7</name>
        <choiceText>Problemas en el producto (bugs/caidas de la herramienta)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Problemas en el producto (bugs/caidas de la herramienta)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6745b22b_4fe6_45e4_b27f_567ca3ed73c5</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7042ff31_fe58_4225_94a7_32d0400d9e3c</name>
        <choiceText>Problemas con el soporte tecnico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Problemas con el soporte tecnico</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_83ae69e1_0575_47ec_a0ad_70a401615fab</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8d8e9ac1_cf9b_4c22_adb1_2d54eac75b31</name>
        <choiceText>Muy Malo</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_94ae9d0c_a02e_40d0_a98d_8c1b86d84bb3</name>
        <choiceText>Bueno</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9aa774dd_56dd_4957_bdaf_600ff2706565</name>
        <choiceText>Otro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Otro</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9cb6a6fd_4f0e_4dcc_8064_58b7bb0baafc</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a6bf673c_3186_4602_b70e_bb213231f27b</name>
        <choiceText>No era la soluci&amp;oacute;n que buscabamos / Nuestro caso de uso no pudo ser implementado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No era la solución que buscabamos / Nuestro caso de uso no pudo ser implementado</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a9f0a3ca_81f1_487f_bf1f_87f1272b203f</name>
        <choiceText>No usabamos el software</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No usabamos el software</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ae3046ff_281b_472d_ab86_3ed5d08ef744</name>
        <choiceText>Encontramos una mejor soluci&amp;oacute;n</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Encontramos una mejor solución</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b055c8ad_01a1_4c04_82c9_262c2798593f</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b2fed93c_12cf_41d9_a8de_5dfbd14e3364</name>
        <choiceText>Sofware muy costoso</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sofware muy costoso</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b3a3cae4_89f4_4643_a890_cfe009c8dc0e</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c04e7237_a1d0_4c9f_afb6_1d78bc823622</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c9380926_8f3f_4e2f_bad6_2f66ff9a12f7</name>
        <choiceText>Malo</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c9bf65e1_8040_4744_a584_a1acd4ffca4b</name>
        <choiceText>Bueno</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d4c33c5e_2f6a_4ba5_a877_0b11c0635caf</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ebca6046_8027_449c_8483_7d3e3c9274ff</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ecc4b99b_432a_4371_abeb_6944c4e261af</name>
        <choiceText>Bueno</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f046a31d_a037_4e74_97b6_416d6efdb992</name>
        <choiceText>Malo</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <interviewLabel>Churn survey</interviewLabel>
    <label>Churn survey</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_encuesta_de_salida_espa_ol_5_204b3fe5_12e5_451d_b30c_ecca6048bf02</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>Embed_a_Survey_Link</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>InvitationRecordCreator</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>es</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_382605f0_c7f3_4ae1_a596_1740ae077b90</name>
        <label>Communication and expectations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Atras</backButtonLabel>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_95440038_948d_4e33_a23c_90f8b3c3da7e_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_95440038_948d_4e33_a23c_90f8b3c3da7e_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_95440038_948d_4e33_a23c_90f8b3c3da7e_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_95440038_948d_4e33_a23c_90f8b3c3da7e</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: tahoma; font-size: 14px;&quot;&gt;¿Te sentiste bien informado sobre las actualizaciones de nuestro producto/servicio y nuevas características?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_48d57b45_12e9_4281_951d_e742f160edca_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_48d57b45_12e9_4281_951d_e742f160edca_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_48d57b45_12e9_4281_951d_e742f160edca_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_48d57b45_12e9_4281_951d_e742f160edca</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: tahoma; font-size: 14px;&quot;&gt;¿Nuestro producto/servicio cumplió con tus expectativas iniciales?&lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>FINISH</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_d24f0d47_595a_4da7_ba37_40cde53021a9_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_d24f0d47_595a_4da7_ba37_40cde53021a9_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_d24f0d47_595a_4da7_ba37_40cde53021a9_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d24f0d47_595a_4da7_ba37_40cde53021a9</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Por último, si tene&lt;strong&gt;&lt;/strong&gt;mos mejoras en el producto y/o nuestros servicios, ¿quisieras tener noticias de nosotros?&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Enviar</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausa</pauseButtonLabel>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_7b43ad44_acde_48bb_a242_b74595db4780</name>
        <label>Contact information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Atras</backButtonLabel>
        <connector>
            <targetReference>p_ecebaf97_c8b0_43bf_8dfc_ab5ee5db47c6</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5056f975_eb16_4731_836e_0e1a4b55c2c4</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: docs-Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;¿Cuál &lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;es el nombre de la compañía a la que perteneces?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_def177dc_d520_4209_910a_1168561f64c4</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: docs-Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;¿Cuál es tu cor&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;reo electrónico corporativo?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Puedes contestar anónimamente dejando este campo en blanco</helpText>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausa</pauseButtonLabel>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ecebaf97_c8b0_43bf_8dfc_ab5ee5db47c6</name>
        <label>Churn reason</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Atras</backButtonLabel>
        <connector>
            <targetReference>p_eeaefd33_f22d_42c8_8051_9732fa938611</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6cf248ac_39da_4bb1_9f0a_b3a76da2a73a</name>
            <choiceReferences>c_b2fed93c_12cf_41d9_a8de_5dfbd14e3364</choiceReferences>
            <choiceReferences>c_a6bf673c_3186_4602_b70e_bb213231f27b</choiceReferences>
            <choiceReferences>c_a9f0a3ca_81f1_487f_bf1f_87f1272b203f</choiceReferences>
            <choiceReferences>c_ae3046ff_281b_472d_ab86_3ed5d08ef744</choiceReferences>
            <choiceReferences>c_51b82f13_3f0b_43e6_9d5c_18994cf588f7</choiceReferences>
            <choiceReferences>c_7042ff31_fe58_4225_94a7_32d0400d9e3c</choiceReferences>
            <choiceReferences>c_9aa774dd_56dd_4957_bdaf_600ff2706565</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: tahoma;&quot;&gt;¿Cuáles fueron las razones para cancelar nuestros servicios?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_bf687efb_c1f5_4de4_95a9_0f5ccfd8f39b</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: tahoma;&quot;&gt;¿Cuál fue la solució&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;n que encontraste?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_6cf248ac_39da_4bb1_9f0a_b3a76da2a73a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_ae3046ff_281b_472d_ab86_3ed5d08ef744</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_fdea80c6_6865_42ef_a5af_cc9509e063c3</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;¿Qué problema estás intentando resolver? ¿Por qué no pudiste implementarlo en Simetrik?&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_6cf248ac_39da_4bb1_9f0a_b3a76da2a73a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_a6bf673c_3186_4602_b70e_bb213231f27b</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ec4f1a44_d58a_4234_88a3_147f9b8a7dec</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: tahoma; font-size: 14px;&quot;&gt;¿Qué otros problemas tuviste?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_6cf248ac_39da_4bb1_9f0a_b3a76da2a73a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_9aa774dd_56dd_4957_bdaf_600ff2706565</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausa</pauseButtonLabel>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_eeaefd33_f22d_42c8_8051_9732fa938611</name>
        <label>Product qualification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Atras</backButtonLabel>
        <connector>
            <targetReference>p_f4dad81d_5317_4e56_b744_d99b61964216</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_f57a2df5_0924_4086_a094_b8739b8542bc_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f57a2df5_0924_4086_a094_b8739b8542bc</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: tahoma;&quot;&gt;En una escala del 1 al 10, ¿cómo calificarías la calidad de nuestro software?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_afccd8e4_1b6c_47e8_977c_dd8eda170867</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;¿Qué características o funcionalidades crees que podríamos mejorar para satisfacer mejor tus necesidades?&lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>CSAT</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_f57a2df5_0924_4086_a094_b8739b8542bc</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>6.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausa</pauseButtonLabel>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_f4dad81d_5317_4e56_b744_d99b61964216</name>
        <label>Team qualification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Atras</backButtonLabel>
        <connector>
            <targetReference>p_382605f0_c7f3_4ae1_a596_1740ae077b90</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_61e14ecd_4daf_4eb9_8f18_a574c7ed1b42_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_61e14ecd_4daf_4eb9_8f18_a574c7ed1b42</name>
            <choiceReferences>c_8d8e9ac1_cf9b_4c22_adb1_2d54eac75b31</choiceReferences>
            <choiceReferences>c_b3a3cae4_89f4_4643_a890_cfe009c8dc0e</choiceReferences>
            <choiceReferences>c_296ffc65_81e6_4bdc_bb85_0182290cab33</choiceReferences>
            <choiceReferences>c_2b3e0fa9_b929_4882_9554_386d41fdf488</choiceReferences>
            <choiceReferences>c_1b988ca5_6205_4a53_b113_5b0037250303</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: tahoma;&quot;&gt;De 1 a 5 ¿Qué calificación le darías al proceso de onboarding que tuviste?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b7001404_3abb_4899_895c_44d8d59af42d</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: tahoma;&quot;&gt;¿Qué &lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;aspectos del onboarding podríamos mejorar?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Rating</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_61e14ecd_4daf_4eb9_8f18_a574c7ed1b42</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>c_296ffc65_81e6_4bdc_bb85_0182290cab33</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_56dc8e85_340e_411f_92de_87815d512b4b_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_56dc8e85_340e_411f_92de_87815d512b4b</name>
            <choiceReferences>c_c9380926_8f3f_4e2f_bad6_2f66ff9a12f7</choiceReferences>
            <choiceReferences>c_13f3c8b7_aba3_4c24_988c_c1642365a960</choiceReferences>
            <choiceReferences>c_d4c33c5e_2f6a_4ba5_a877_0b11c0635caf</choiceReferences>
            <choiceReferences>c_ebca6046_8027_449c_8483_7d3e3c9274ff</choiceReferences>
            <choiceReferences>c_c9bf65e1_8040_4744_a584_a1acd4ffca4b</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: tahoma; font-size: 14px;&quot;&gt;De 1 a 5 ¿Qué calificación le darías a nuestro servicio de soporte técnico?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_fcfab9f7_fd24_461a_a762_b63a89e7677e</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: tahoma;&quot;&gt;¿Hubo alguna experiencia negativa con nuestro equipo de soporte que te gustaría compartir?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Rating</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_56dc8e85_340e_411f_92de_87815d512b4b</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>c_d4c33c5e_2f6a_4ba5_a877_0b11c0635caf</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_2d48fd2a_3d31_4462_8694_de9fa6e2bf1b_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2d48fd2a_3d31_4462_8694_de9fa6e2bf1b</name>
            <choiceReferences>c_341a103c_79e5_48c2_9399_8f3206a3618e</choiceReferences>
            <choiceReferences>c_b055c8ad_01a1_4c04_82c9_262c2798593f</choiceReferences>
            <choiceReferences>c_9cb6a6fd_4f0e_4dcc_8064_58b7bb0baafc</choiceReferences>
            <choiceReferences>c_c04e7237_a1d0_4c9f_afb6_1d78bc823622</choiceReferences>
            <choiceReferences>c_ecc4b99b_432a_4371_abeb_6944c4e261af</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: tahoma; font-size: 14px;&quot;&gt;De 1 a 5 ¿Qué calificación le darías a tu Customer Success Manager?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_20aa91e6_f0a4_4c2f_bb5f_fbc10c3602a0</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;¿Hubo alguna experiencia &lt;/span&gt;&lt;span style=&quot;font-family: tahoma; font-size: 14px;&quot;&gt;negativa &lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;con tu CSM que quieras compartir?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Rating</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_2d48fd2a_3d31_4462_8694_de9fa6e2bf1b</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>c_9cb6a6fd_4f0e_4dcc_8064_58b7bb0baafc</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_f7418bc6_4cc6_4e88_99d0_5d885b2f4279_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f7418bc6_4cc6_4e88_99d0_5d885b2f4279</name>
            <choiceReferences>c_f046a31d_a037_4e74_97b6_416d6efdb992</choiceReferences>
            <choiceReferences>c_2cf6ba4c_341e_4b80_b220_1ac522855e16</choiceReferences>
            <choiceReferences>c_83ae69e1_0575_47ec_a0ad_70a401615fab</choiceReferences>
            <choiceReferences>c_6745b22b_4fe6_45e4_b27f_567ca3ed73c5</choiceReferences>
            <choiceReferences>c_94ae9d0c_a02e_40d0_a98d_8c1b86d84bb3</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: tahoma;&quot;&gt;De 1 a 5 ¿Qué calificación le darías al trabajo realizado por el equipo de professional services? (Project manager / Implementation Specialist / Integrations Engineers)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_61626c27_40d7_4efa_ae33_dadb353dc38b</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: tahoma;&quot;&gt;¿Hubo alguna experiencia negativa con nuestro equipo de servicios que quieras compartir?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Rating</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_f7418bc6_4cc6_4e88_99d0_5d885b2f4279</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>c_83ae69e1_0575_47ec_a0ad_70a401615fab</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausa</pauseButtonLabel>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_7b43ad44_acde_48bb_a242_b74595db4780</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>q_48d57b45_12e9_4281_951d_e742f160edca_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_48d57b45_12e9_4281_951d_e742f160edca_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Si</text>
    </textTemplates>
    <textTemplates>
        <name>q_95440038_948d_4e33_a23c_90f8b3c3da7e_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_95440038_948d_4e33_a23c_90f8b3c3da7e_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Si</text>
    </textTemplates>
    <textTemplates>
        <name>q_d24f0d47_595a_4da7_ba37_40cde53021a9_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_d24f0d47_595a_4da7_ba37_40cde53021a9_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Si</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: tahoma; font-size: 16px;&quot;&gt;¡Gracias por responder la encuesta!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;Tus comentarios nos permitirán identificar áreas de mejora y trabajar en soluciones que nos permitan ofrecer una mejor experiencia. &lt;/span&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;span style=&quot;font-family: tahoma; font-size: 12px;&quot;&gt;Esperamos sinceramente que este no sea un adiós, sino más bien un &quot;hasta pronto&quot;. Valoramos tu confianza en nosotros y esperamos tener la oportunidad de servirte nuevamente en el futuro.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: tahoma; font-size: 12px;&quot;&gt;Atentamente,&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: tahoma; font-size: 12px;&quot;&gt;Equipo Simetrik&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px; font-family: tahoma;&quot;&gt;Sentimos tu partida&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;Gracias por tomarte el tiempo para compartir tus comentarios con nosotros. En Simetrik, valoramos enormemente tus opiniones y experiencias, ya que nos ayudan a mejorar continuamente nuestros productos y servicios.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;Tu participación en esta encuesta es fundamental para entender las razones detrás de tu decisión de cancelar tu suscripción o dejar de utilizar nuestros servicios. Nos comprometemos a utilizar tus respuestas de manera constructiva para abordar cualquier problema que hayas experimentado y para mejorar la experiencia general de nuestros clientes.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: tahoma;&quot;&gt;¡Gracias de nuevo por tu participación y por ayudarnos a mejorar!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_2d48fd2a_3d31_4462_8694_de9fa6e2bf1b_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_48d57b45_12e9_4281_951d_e742f160edca_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_56dc8e85_340e_411f_92de_87815d512b4b_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_61e14ecd_4daf_4eb9_8f18_a574c7ed1b42_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_95440038_948d_4e33_a23c_90f8b3c3da7e_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_d24f0d47_595a_4da7_ba37_40cde53021a9_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_f57a2df5_0924_4086_a094_b8739b8542bc_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_f7418bc6_4cc6_4e88_99d0_5d885b2f4279_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
