force-app/main/default/flows/simetrik_cs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_7b43ad44_acde_48bb_a242_b74595db4780</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <interviewLabel>NPS Español</interviewLabel>
    <label>NPS Español</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_simetrik_cs_5_f1abecb0_f7b2_4a69_9bdf_dee32e0a93bd</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>Embed_a_Survey_Link</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>SurveyOwner</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_7b43ad44_acde_48bb_a242_b74595db4780</name>
        <label>NPS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5056f975_eb16_4731_836e_0e1a4b55c2c4</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: docs-Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;¿Cuál &lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;es el nombre de la compañía a la que perteneces?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_def177dc_d520_4209_910a_1168561f64c4</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: docs-Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;¿Cuál es tu cor&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;reo electrónico corporativo?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_c093fc0f_619f_496c_aa39_70563ac5354b_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>npsColorCodeEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <name>q_c093fc0f_619f_496c_aa39_70563ac5354b</name>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeNps</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;De 1 a 10, ¿Qué tanto recomendarías a Simetrik a un colega?&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; font-family: docs-Roboto, Helvetica, Arial, sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ef420380_9ae3_439f_a072_477ce0d5f0b0</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;¿Cuál es la razón principal para que nos calificarás así?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>NPS</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_c093fc0f_619f_496c_aa39_70563ac5354b</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>6.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6b95dd11_bd54_4c58_9cd8_4e2ad5a20e72</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;¿Qué crees que podríamos hacer para mejorar?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>NPS</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_c093fc0f_619f_496c_aa39_70563ac5354b</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>7.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>NPS</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_c093fc0f_619f_496c_aa39_70563ac5354b</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>8.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_21150483_2d7a_4b96_913b_ee74b7e76a67</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Nos encantaría seguir manteniendo tu calificación, ¿Qué crees que podríamos hacer adicional para mantenerla?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>NPS</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_c093fc0f_619f_496c_aa39_70563ac5354b</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>9.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_68c54812_bf29_4f5c_af5b_35c2c9cd4461_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_68c54812_bf29_4f5c_af5b_35c2c9cd4461</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: docs-Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;&amp;nbsp;¿Cómo &lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;evaluarías a Simetrik respecto a s&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;atisfacción en relación al producto (Software)?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>0 N/A    1 Muy satisfecho   2 Insatisfecho   3 Neutral   4 Satisfecho   5 Muy satisfecho</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a0489037_8462_4d1b_b45d_9d17d596e3e4_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a0489037_8462_4d1b_b45d_9d17d596e3e4</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: docs-Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;&amp;nbsp;¿Cómo evalu&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;arías a Simetrik respecto a la a&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;tención equipo de Success?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>0 N/A    1 Muy satisfecho   2 Insatisfecho   3 Neutral   4 Satisfecho   5 Muy satisfecho</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_6baffd77_0945_41a5_9f33_840b0d29a00a_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6baffd77_0945_41a5_9f33_840b0d29a00a</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: docs-Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;&amp;nbsp;¿Cómo ev&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;aluarías a Simetrik respecto al s&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;oporte técnico?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>0 N/A    1 Muy satisfecho   2 Insatisfecho   3 Neutral   4 Satisfecho   5 Muy satisfecho</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>FINISH</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_d3dbeca2_3c8d_482a_87eb_3776fa5ce70c_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d3dbeca2_3c8d_482a_87eb_3776fa5ce70c</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: docs-Roboto, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;&amp;nbsp;¿Cómo evaluarías&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt; a Simetrik respecto al s&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;ervicio de integraciones?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>0 N/A    1 Muy satisfecho   2 Insatisfecho   3 Neutral   4 Satisfecho   5 Muy satisfecho</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Enviar</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausa</pauseButtonLabel>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_7b43ad44_acde_48bb_a242_b74595db4780</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;¡Gracias por responder la encuesta!&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Queremos conocer tu experiencia con Simetrik&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Desde Simetrik estamos comprometidos en brindarte la mejor experiencia, es por esto que te pedimos por favor nos ayudes diligenciando la encuesta a continuación para así poder obtener tu valiosa retroalimentación sobre tu camino con Simetrik.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;¡Gracias por confiar en nosotros!&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_68c54812_bf29_4f5c_af5b_35c2c9cd4461_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_6baffd77_0945_41a5_9f33_840b0d29a00a_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_a0489037_8462_4d1b_b45d_9d17d596e3e4_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_c093fc0f_619f_496c_aa39_70563ac5354b_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_d3dbeca2_3c8d_482a_87eb_3776fa5ce70c_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
