force-app/main/default/flows/Stage_Tracking_Date_Stamps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>TodaysDateStamp</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Stage Tracking Date Stamps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Stage Tracking Exit Date Stamps</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Stamp_Stage_0_Exit_Date</name>
        <label>Stamp Stage 0 Exit Date</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Stamp_Stage_1_Exit_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Previous_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0 - Research</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage_0_Exit_Date__c</field>
            <value>
                <elementReference>TodaysDateStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Stage_1_Exit_Date</name>
        <label>Stamp Stage 1 Exit Date</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Stamp_Stage_2_Exit_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Previous_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1 - Discovery</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage_1_Exit_Date__c</field>
            <value>
                <elementReference>TodaysDateStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Stage_2_Exit_Date</name>
        <label>Stamp Stage 2 Exit Date</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Stamp_Stage_3_Exit_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Previous_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2 - Scoping</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage_2_Exit_Date__c</field>
            <value>
                <elementReference>TodaysDateStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Stage_3_Exit_Date</name>
        <label>Stamp Stage 3 Exit Date</label>
        <locationX>176</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Stamp_Stage_4_Exit_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Previous_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3 - Consensus</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage_3_Exit_Date__c</field>
            <value>
                <elementReference>TodaysDateStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Stage_4_Exit_Date</name>
        <label>Stamp Stage 4 Exit Date</label>
        <locationX>176</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Stamp_Stage_5_Exit_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Previous_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4 - Negotiation</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage_4_Exit_Date__c</field>
            <value>
                <elementReference>TodaysDateStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Stage_5_Exit_Date</name>
        <label>Stamp Stage 5 Exit Date</label>
        <locationX>176</locationX>
        <locationY>827</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Previous_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5 - Redlining</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage_5_Exit_Date__c</field>
            <value>
                <elementReference>TodaysDateStamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stamp_Stage_0_Exit_Date</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8) OR (9 AND 10) OR (11 AND 12)</filterLogic>
        <filters>
            <field>Previous_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0 - Research</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Previous_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1 - Discovery</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Previous_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2 - Scoping</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Previous_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3 - Consensus</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Previous_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4 - Negotiation</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Previous_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5 - Redlining</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
